<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>Giant Robot Software - <%= yield_content(:title) %></title>

    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
    <%= stylesheet_link_tag "normalize" %>

    <% (current_page.data.css || []).each do |css| %>
    <%= stylesheet_link_tag css %>
    <% end %>

    <% (current_page.data.js || []).each do |js| %>
    <%= javascript_include_tag js %>
    <% end %>

  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a id="home" href="/">
            Giant Robot Software
          </a>
        </li>

        <% data.apps.each do |app| %>
        <li>
          <a href="/<%= app.smallname %>/">
            <%= app.name %>
          </a>
        </li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>

    <%= partial "analytics" %>
  </body>
</html>
